{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "array-bracket-spacing": 2,
    "brace-style": [2, "1tbs", {"allowSingleLine": true}],
    "camelcase": 2,
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "computed-property-spacing": 2,
    "consistent-return": 2,
    "consistent-this": [2, "self"],
    "curly": [2, "multi-line", "consistent"],
    "eol-last": 2,
    "eqeqeq": [2, "allow-null"],
    "guard-for-in": 2,
    "handle-callback-err": [2, "^(err|error)$"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "key-spacing": [0, { align: "value" }],
    "keyword-spacing": [2, {"before": true, "after": true}],
    "new-cap": [2, {"capIsNew": false, "newIsCap": true}],
    "new-parens": 0,
    "no-bitwise": 0,
    "no-cond-assign": 2,
    "no-console": 2,
    "no-constant-condition": 2,
    "no-debugger": 2,
    "no-delete-var": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-empty-character-class": 2,
    "no-eval": 2,
    "no-ex-assign": 2,
    "no-extend-native": 2,
    "no-extra-parens": [2, "functions"],
    "no-extra-semi": 2,
    "no-floating-decimal": 2,
    "no-func-assign": 2,
    "no-implied-eval": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lonely-if": 2,
    "no-loop-func": 2,
    "no-mixed-requires": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": [2, { max: 1, maxEOF: 0, maxBOF: 0 }],
    "no-native-reassign": 2,
    "no-negated-in-lhs": 2,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-new-require": 2,
    "no-new-wrappers": 2,
    "no-obj-calls": 2,
    "no-octal": 2,
    "no-path-concat": 2,
    "no-plusplus": 0,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-shadow": 2,
    "no-spaced-func": 2,
    "no-sparse-arrays": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-undefined": 2,
    "no-underscore-dangle": 0,
    "no-unreachable": 2,
    "no-unused-expressions": 2,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-use-before-define": [2, "nofunc"],
    "no-var": 2,
    "no-warning-comments": [2, {"terms": ["todo", "fixme"]}],
    "object-curly-spacing": 2,
    "padded-blocks": [2, "never"],
    "quote-props": [0, "as-needed"],
    "quotes": [2, "single", "avoid-escape"],
    "radix": 0,
    "semi": [2, "never"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": [2, {"words": true, "nonwords": false}],
    "strict": [2, "never"],
    "use-isnan": 2,
    "valid-typeof": 2,
    "vars-on-top": 0,
    "wrap-iife": [2, "inside"],
    "yoda": 0,
    // Node.js specific
    // React
    "jsx-quotes": [2, "prefer-double"],
    "react/display-name": [2, {"ignoreTranspilerName": false}],
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-curly-spacing": 2,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 0,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": [2, { "ignoreStateless": true }],
    "react/no-unknown-property": 2,
    "react/no-unused-prop-types": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 0,
    "react/jsx-wrap-multilines": 2,
    "import/extensions": [2, "never", {"css": "always"}],
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 2
  },
  "globals": {
    "require": true,
    "jasmine": true,
    "expect": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "spyOn": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.4.2"
    }
  },
  "plugins": [
    "react",
    "import",
    "react-hooks"
  ]
}
