@import "settings";
@import "vendors/foundation/normalize";
@import
  "vendors/foundation/foundation/components/grid",
//  "vendors/foundation/foundation/components/accordion",
//  "vendors/foundation/foundation/components/alert-boxes",
  "vendors/foundation/foundation/components/block-grid",
//  "vendors/foundation/foundation/components/breadcrumbs",
  "vendors/foundation/foundation/components/button-groups",
  "vendors/foundation/foundation/components/buttons",
//  "vendors/foundation/foundation/components/clearing",
  "vendors/foundation/foundation/components/dropdown",
  "vendors/foundation/foundation/components/dropdown-buttons",
//  "vendors/foundation/foundation/components/flex-video",
  "vendors/foundation/foundation/components/forms",
  "vendors/foundation/foundation/components/inline-lists",
//  "vendors/foundation/foundation/components/joyride",
//  "vendors/foundation/foundation/components/keystrokes",
  "vendors/foundation/foundation/components/labels",
//  "vendors/foundation/foundation/components/magellan",
//  "vendors/foundation/foundation/components/orbit",
//  "vendors/foundation/foundation/components/pagination",
  "vendors/foundation/foundation/components/panels",
//  "vendors/foundation/foundation/components/pricing-tables",
//  "vendors/foundation/foundation/components/progress-bars",
//  "vendors/foundation/foundation/components/range-slider",
//  "vendors/foundation/foundation/components/reveal",
//  "vendors/foundation/foundation/components/side-nav",
  "vendors/foundation/foundation/components/split-buttons",
  "vendors/foundation/foundation/components/sub-nav",
//  "vendors/foundation/foundation/components/switch",
//  "vendors/foundation/foundation/components/tables",
//  "vendors/foundation/foundation/components/tabs",
//  "vendors/foundation/foundation/components/thumbs",
  "vendors/foundation/foundation/components/tooltips",
  "vendors/foundation/foundation/components/top-bar",
  "vendors/foundation/foundation/components/type",
 // "vendors/foundation/foundation/components/offcanvas",
  "vendors/foundation/foundation/components/visibility";