input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

pre
  overflow: initial

.main-description
  text-align: center

#oldPostgresBlock
  display: none

.label-for-kernel
  margin: 0