.dashboard-page {
  padding: 0.5rem;
}

.dashboard-header-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-header-logo {
  display: flex;
  flex-basis: 24.975%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 24.975%;
  width: 24.975%;
  align-items: center;
  justify-content: flex-end;
}

.dashboard-header-logo:nth-child(1n) {
  margin-left: 0;
  margin-right: 0;
}

.dashboard-header-logo:last-child {
  margin-right: 0;
}

.dashboard-header-logo:nth-child(4n) {
  margin-left: auto;
  margin-right: 0;
}

.dashboard-header-logo__svg {
  width: 112px;
  height: 98px;
}

.dashboard-header-title {
  flex-basis: 24.975%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 24.975%;
  text-align: left;
  width: 24.975%;
}

.dashboard-header-title:nth-child(1n) {
  margin-left: 0;
  margin-right: 0;
}

.dashboard-header-title:last-child {
  margin-right: 0;
}

.dashboard-header-title:nth-child(4n) {
  margin-left: auto;
  margin-right: 0;
}

.dashboard-header-title__text {
  margin: 0 0.5rem;
}

@media (width <= 640px) {
  .dashboard-header-logo {
    flex-basis:49.95%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 49.95%;
    width: 49.95%;
  }

  .dashboard-header-logo:nth-child(1n) {
    margin-left: 0;
    margin-right: 0;
  }

  .dashboard-header-logo:last-child {
    margin-right: 0;
  }

  .dashboard-header-logo:nth-child(2n) {
    margin-left: auto;
    margin-right: 0;
  }

  .dashboard-header-title {
    flex-basis: 49.95%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 49.95%;
    width: 49.95%;
  }

  .dashboard-header-title:nth-child(1n) {
    margin-left: 0;
    margin-right: 0;
  }

  .dashboard-header-title:last-child {
    margin-right: 0;
  }

  .dashboard-header-title:nth-child(2n) {
    margin-left: auto;
    margin-right: 0;
  }
}
