.main-generator {
  lost-flex-container: row;
}

.main-generator-form-wrapper {
  lost-column: 1/2 2 3rem;
}

.main-generator-result-wrapper {
  lost-column: 1/2 2 3rem;
}

.main-generator-form-subtitle {
  color: #b58900;
  text-align: center;
  margin: 0.2rem 0;
}

@media (width <= 640px) {
  .main-generator-form-wrapper {
    lost-column: 1/1;
  }

  .main-generator-result-wrapper {
    lost-column: 1/1;
  }
}
