.main-generator {
  display: flex;
  flex-flow: row wrap;
}

.main-generator-form-wrapper {
  flex-basis: calc(49.95% - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  max-width: calc(49.95% - 1.5rem);
  width: calc(49.95% - 1.5rem);
}

.main-generator-form-wrapper:nth-child(1n) {
  margin-left: 0;
  margin-right: 3rem;
}

.main-generator-form-wrapper:last-child {
  margin-right: 0;
}

.main-generator-form-wrapper:nth-child(2n) {
  margin-left: auto;
  margin-right: 0;
}

.main-generator-result-wrapper {
  flex-basis: calc(49.95% - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  max-width: calc(49.95% - 1.5rem);
  width: calc(49.95% - 1.5rem);
}

.main-generator-result-wrapper:nth-child(1n) {
  margin-left: 0;
  margin-right: 3rem;
}

.main-generator-result-wrapper:last-child {
  margin-right: 0;
}

.main-generator-result-wrapper:nth-child(2n) {
  margin-left: auto;
  margin-right: 0;
}

.main-generator-form-subtitle {
  color: #b58900;
  text-align: center;
  margin: 0.2rem 0;
}

@media (width <= 640px) {
  .main-generator-form-wrapper {
    flex-basis:99.9%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 99.9%;
    width: 99.9%;
  }

  .main-generator-form-wrapper:nth-child(1n) {
    margin-left: 0;
    margin-right: 30px;
  }

  .main-generator-form-wrapper:last-child {
    margin-right: 0;
  }

  .main-generator-form-wrapper:nth-child(1n) {
    margin-left: auto;
    margin-right: 0;
  }

  .main-generator-result-wrapper {
    flex-basis: 99.9%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 99.9%;
    width: 99.9%;
  }

  .main-generator-result-wrapper:nth-child(1n) {
    margin-left: 0;
    margin-right: 30px;
  }

  .main-generator-result-wrapper:last-child {
    margin-right: 0;
  }

  .main-generator-result-wrapper:nth-child(1n) {
    margin-left: auto;
    margin-right: 0;
  }
}
