.app {
  background-color: var(--bgColor);
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 60rem;
}

.app__main {
  border: 1px solid var(--commentColor);
  flex: 1;
  min-width: 0;
}

.app__navigation {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.app__navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  flex: 1;
  text-align: center;
}

.app__navigation__item:nth-child(4n) {
  margin-left: auto;
}

.app__navigation__item--active {
  background-color: var(--headsColor);
}

.app__navigation__big-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  text-align: center;
  flex: 0 0 50%;
  box-sizing: border-box;
}

.app__navigation__big-item:nth-child(4n) {
  margin-left: auto;
}

.app__navigation__link,
.app__navigation__active-item {
  line-height: 2.5;
  display: inline-block;
  width: 100%;
}
