@import 'functions'
@import 'variables'

.form-dropdown
  margin-bottom: 0.6rem

  &__wrapper
    width: 99%
    font-size: 1.8rem

  &__select
    color: var(--baseColor)

  &__label
    padding-right: 0.4rem

  &__error
    lost-row: 1
    color: $red
    font-size: 1rem
