@import 'variables'

.form-dropdown
  margin-bottom: 0.4rem

  &__wrapper
    width: 100%
    font-size: 1.2rem

  &__select
    width: 100%
    color: var(--inputColor)
    border-radius: 6px
    border: 1px solid var(--inputBorder)
    background-color: var(--inputBg)

  &__label
    padding-right: 0.4rem

  &__error
    lost-row: 1
    color: $red
    font-size: 0.8rem
