@import 'variables'

.form-field
  lost-flex-container: row
  margin-bottom: 0.4rem

.form-field--error
  border: 1px solid $red
  padding: 5px

.form-field__input-wrapper
  width: 100%

.form-field__input
  width: 99%
  font-size: 1.2rem
  color: var(--inputColor)
  border-radius: 6px
  border: 1px solid var(--inputBorder)
  background-color: var(--inputBg)

  &::placeholder
    color: var(--inputColorPlaceholder)

.form-field__error
  color: $red
  font-size: 0.8rem
