@import 'variables'

.form-field
  lost-flex-container: row
  margin-bottom: 0.4rem

.form-field-label
  lost-column: 3/5 2
  font-size: 1.1rem

.form-field-tooltip
  lost-column: 2/5 2
  text-align: right
  font-size: 0.8rem

.form-field-tooltip--link
  border-bottom: 1px dotted $yellow
  text-decoration: none
  vertical-align: middle

.form-field-input
  lost-column: 1/1
  font-size: 1.3rem
  color: var(--inputColor)
  border-radius: 6px
  border: 1px solid var(--inputBorder)
  background-color: var(--inputBg)

  &::placeholder
    font-size: 1.2rem
    color: var(--inputColorPlaceholder)

.form-field-error
  lost-column: 1/1
  font-size: 0.8rem
  color: $red
