@import 'variables'

.dashboard-page
  padding: 0.5rem

.dashboard-header-wrapper
  lost-flex-container: row
  lost-align: center

.dashboard-header-logo
  lost-column: 1/4 4 0
  lost-align: middle-right

.dashboard-header-logo__svg
  width: 112px
  height: 98px

.dashboard-header-title
  lost-column: 1/4 4 0
  text-align: left

.dashboard-header-title__text
  margin: 0 0.5rem

@media (--small-viewport)
  .dashboard-header-logo
    lost-column: 1/2 2 0

  .dashboard-header-title
    lost-column: 1/2 2 0
