.configuration-view-tabs-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.configuration-view-tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  margin-top: 1rem;
  border: 0;
  background: transparent;
  color: var(--baseColor);
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
  flex: 0 0 50%;
  box-sizing: border-box;
}

.configuration-view-tab--active {
  border-bottom: 2px solid #cb4b16;
  background-color: var(--headsColor);
}

.configuration-view-tab:hover,
.configuration-view-tab--active:hover {
  background-color: var(--buttonHover);
}

.configuration-view-copy-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.configuration-view-copy-button {
  background-color: var(--headsColor);
  border: 1px solid var(--commentColor);
  color: var(--baseColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.configuration-view-copy-button:focus {
  outline: 0;
}

.configuration-view-copy-button:hover {
  background-color: var(--buttonHover);
}

.configuration-view-copy-button:active {
  transform: scale(0.98);
}
