.configurator {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}

.configurator-form-wrapper {
  flex: 1;
  max-width: 24rem;
  box-sizing: border-box;
}

.configurator-result-wrapper {
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
}

.configurator-form-subtitle {
  color: #b58900;
  text-align: center;
  margin: 0.2rem 0;
}

/* Modern media query syntax */
@media (width <= 640px) {
  .configurator {
    gap: 1.875rem;
  }

  .configurator-form-wrapper,
  .configurator-result-wrapper {
    flex: 0 0 100%;
  }
}
