.dashboard-page {
  padding: 0.5rem;
}

.dashboard-header-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-header-logo,
.dashboard-header-title {
  flex: 0 0 25%;
  box-sizing: border-box;
}

.dashboard-header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dashboard-header-title {
  text-align: left;
}

.dashboard-header-logo__svg {
  width: 112px;
  height: 98px;
}

.dashboard-header-title__text {
  margin: 0 0.5rem;
}

@media (width <= 640px) {
  .dashboard-header-logo,
  .dashboard-header-title {
    flex: 0 0 50%;
  }
}
