---
title: PgTune
---

<a href="https://github.com/le0pard/pgtune" class="github-corner"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#fff; color:#151513; position: absolute; top: 0; border: 0; right: 0;"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>

<div class="wrapper">

  <div class="hero-block">
    <div class="row">
      <div class="small-12 large-10 large-offset-1 columns">

        <div class="row">
          <div class="large-8 large-centered columns">
            <h1 class="hero-title show-for-large-up">
              <%=image_tag "postgres.png", alt: "PgTune", title: "PgTune", data: {
                hidpi:  {src: asset_path(:images, "postgres@2x.png")},
                lowdpi: {src: asset_path(:images, "postgres.png")}
              } %> PgTune
            </h1>
            <h1 class="small-hero-title hide-for-large-up">
              <%=image_tag "postgres.png", alt: "PgTune", title: "PgTune", data: {
                hidpi:  {src: asset_path(:images, "postgres@2x.png")},
                lowdpi: {src: asset_path(:images, "postgres.png")}
              } %> PgTune
            </h1>
          </div>
        </div>

        <div class="row show-for-large-up">
          <div class="large-10 large-centered columns">
            <h2 class="hero-subtitle">Configuration calculator for PostgreSQL</h2>
          </div>
        </div>

        <div class="row show-for-large-up">
          <div class="large-12 large-centered columns">
            <p class="hero-text">PGTune calculate configuration for PostgreSQL based on the maximum performance for a given hardware configuration. It isn't a <a href="http://en.wikipedia.org/wiki/No_Silver_Bullet" target="_blank">silver bullet</a> for the optimization settings of PostgreSQL. Many settings depend not only on the hardware configuration, but also on the size of the database, the number of clients and the complexity of queries, so that optimally configure the database can only be given all these parameters.</p>
            <p class="hero-text hero-last-block">Working offline and as mobile app.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="calculator-block">
    <div class="row">
      <div class="small-12 large-10 large-offset-1 columns calculator">
        <div class="row calculator-row">

          <div class="large-6 medium-6 columns">
            <h3 class="calculator-title">Parameters of your system</h3>
            <form id="pgTuneForm" action="/">
              <!-- db version begin -->
              <div class="row">
                <div class="large-12 columns">
                  <label for="pgtDbVersionValue">DB Version
                    <span class="right">
                      <span data-tooltip class="has-tip" title="PostgreSQL version">what is this?</span>
                    </span>
                  </label>
                  <select class="radius" id="pgtDbVersionValue">
                    <% ["9.6", "9.5", "9.4", "9.3", "9.2", "9.1", "9.0"].each do |v| %>
                      <option value="<%= v %>"><%= v %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <!-- db version end -->
              <!-- os type begin -->
              <div class="row">
                <div class="large-12 columns">
                  <label for="pgtOsTypeValue">OS Type
                    <span class="right">
                      <span data-tooltip class="has-tip" title="Select type of operation system, where working PostgreSQL database">what is this?</span>
                    </span>
                  </label>
                  <select class="radius" id="pgtOsTypeValue">
                    <option value="linux">Linux/OS X</option>
                    <option value="windows">Windows</option>
                  </select>
                </div>
              </div>
              <!-- os type end -->
              <!-- db type begin -->
              <div class="row">
                <div class="large-12 columns">
                  <label for="pgtDbTypeValue">DB Type
                    <span class="right">
                      <span data-tooltip class="has-tip" title="For what type of application used PostgreSQL">what is this?</span>
                    </span>
                  </label>
                  <select class="radius" id="pgtDbTypeValue">
                    <option value="web">Web applications</option>
                    <option value="oltp">Online transaction processing systems</option>
                    <option value="dw">Data warehouses</option>
                    <option value="desktop">Desktop applications</option>
                    <option value="mixed">Mixed type of applications</option>
                  </select>
                </div>
              </div>
              <!-- db type end -->
              <!-- memory begin -->
              <div class="row">
                <div class="large-12 columns">
                  <div class="row collapse">
                    <label for="pgtTotalMemValue">Total Memory (RAM)
                      <span class="right">
                        <span data-tooltip class="has-tip" title="How many memory can use PostgreSQL on server">what is this?</span>
                      </span>
                    </label>
                    <div class="small-10 columns">
                      <input class="radius-left" id="pgtTotalMemValue" type="number" placeholder="Memory size (RAM, required)" autofocus="autofocus" required="required" min="1" max="9999" step="1" pattern="[0-9]{1,4}" />
                    </div>
                    <div class="small-2 columns">
                      <select class="radius-right" id="pgtTotalMemMeasValue">
                        <option value="GB" selected="selected">GB</option>
                        <option value="MB">MB</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- memory end -->
              <!-- connections begin -->
              <div class="row">
                <div class="large-12 columns">
                  <label for="pgtConnectionsValue">Number of Connections
                    <span class="right">
                      <span data-tooltip class="has-tip" title="Maximum number of connection for PostgreSQL clients">what is this?</span>
                    </span>
                  </label>
                  <input class="radius" id="pgtConnectionsValue" type="number" placeholder="Number of Connections (optional)" min="1" max="9999" step="1" pattern="[0-9]{1,4}" />
                </div>
              </div>
              <!-- connections end -->

              <div class="row">
                <div class="large-12 columns form-submit-block">
                  <input id="pgTuneButton" type="submit" class="calculator-button" value="Generate" />
                </div>
              </div>
            </form>
          </div>

          <div class="large-6 medium-6 columns">
            <div class="settings-result-block">
              <p>PostgreSQL settings (add/modify this settings in <kbd>postgresql.conf</kbd> and restart database):</p>
              <div class="row">
                <div class="large-12 columns">
                  <span class="clearHintForUser label-for-info">Set &quot;Total Memory&quot; and click &quot;Generate&quot; button</span>
                  <pre><code id="postgresConfigOut" class="language-ini"></code></pre>
                </div>
              </div>
              <div id="oldPostgresBlock">
                <p><span class="label-for-info">NOTICE:</span> For PostgreSQL <span class="pg_version">9.3</span> you also should modify <a href="https://www.postgresql.org/docs/current/static/kernel-resources.html" target="_blank">kernel resources</a> (add this in <kbd>/etc/sysctl.conf</kbd>):</p>
                <div class="row">
                  <div class="large-12 columns">
                    <pre class="last-code-block"><code id="postgresOldkernelOut" class="language-ini"></code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div> <!-- wrapper -->

<footer class="footer-box">
  <!-- Footer -->
  <div class="footer-first-box">
    <div class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="small-12 large-8 columns">
            <ul class="inline-list footer-links">
              <li><a href="http://postgresql.leopard.in.ua" target="_blank">PostgreSQL book (Russian)</a></li>
              <li><a href="http://leopard.in.ua" target="_blank">My Blog</a></li>
              <li><a href="https://github.com/le0pard/pgtune" target="_blank">Source code</a></li>
            </ul>
          </div>
          <div id="socialSharingBlock" class="large-4 columns show-for-large-up">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style " style="padding-top: 10px">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
            <!-- AddThis Button END -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-second-box">
    <div class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="small-8 small-centered large-8 large-centered columns">
            <p>&copy; Copyright Alexey Vasiliev aka leopard</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
