---
title: PGTune
---
<div class="row">
  <div class="large-12 columns">
    <!-- Navigation -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><%= link_to "PGTune", "/" %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li>
            <a href="http://postgresql.leopard.in.ua">PostgreSQL book (Russian)</a>
          </li>
          <li>
            <a href="http://leopard.in.ua">My Blog</a>
          </li>
          <li>
            <a href="https://github.com/le0pard/pgtune">Source Code</a>
          </li>
        </ul>
      </section>

    </nav>
    <!-- End Navigation -->
  </div>
</div>



<div class="row">

  <div class="large-12 columns show-for-large-up">
    <div class="row">
      <div class="small-6 large-6 large-centered small-centered columns">
        <img src="http://placehold.it/500x200&text=[img]">
        <hr />
        <p>Some text</p>
        <hr />
      </div>
    </div>
  </div>

  <div class="small-12 columns hide-for-large-up">
    <div class="row">
      <div class="small-6 large-6 columns">
        <img src="http://placehold.it/500x200&text=[img]">
        <hr />
      </div>
      <div class="small-6 large-6 columns">
        <p>Some text</p>
        <hr />
      </div>
    </div>
  </div>

</div>



<div class="row">
  <div class="large-12 columns">
    <div class="row" data-equalizer>

      <div class="large-6 columns" data-equalizer-watch>
        <form id="pgTuneForm" action="/">
          <!-- os type begin -->
          <div class="row">
            <div class="large-12 columns">
              <label for="pgtOsTypeValue">OS Type
                <span class="right">
                  <span data-tooltip class="has-tip" title="Select type of operation system, where working PostgreSQL database">what is this?</span>
                </span>
              </label>
              <select id="pgtOsTypeValue">
                <option value="linux">Linux/OS X</option>
                <option value="windows">Windows</option>
              </select>
            </div>
          </div>
          <!-- os type end -->
          <!-- db type begin -->
          <div class="row">
            <div class="large-12 columns">
              <label for="pgtDbTypeValue">DB Type
                <span class="right">
                  <span data-tooltip class="has-tip" title="For what type of application used PostgreSQL">what is this?</span>
                </span>
              </label>
              <select id="pgtDbTypeValue">
                <option value="web">Web applications</option>
                <option value="oltp">Online transaction processing systems</option>
                <option value="dw">Data warehouses</option>
                <option value="desktop">Desktop applications</option>
                <option value="mixed">Mixed type of applications</option>
              </select>
            </div>
          </div>
          <!-- db type end -->
          <!-- memory begin -->
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse">
                <label for="pgtTotalMemValue">Total Memory
                  <span class="right">
                    <span data-tooltip class="has-tip" title="How many memory can use PostgreSQL on server">what is this?</span>
                  </span>
                </label>
                <div class="small-10 columns">
                  <input id="pgtTotalMemValue" type="number" placeholder="Memory size, what can use PostgreSQL (required)" autofocus="autofocus" required="required" min="1" max="999" step="1" pattern="[0-9]{1,3}" />
                </div>
                <div class="small-2 columns">
                  <select id="pgtTotalMemMeasValue">
                    <option value="TB">TB</option>
                    <option value="GB" selected="selected">GB</option>
                    <option value="MB">MB</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- memory end -->
          <!-- connections begin -->
          <div class="row">
            <div class="large-12 columns">
              <label for="pgtConnectionsValue">Number of Connections
                <span class="right">
                  <span data-tooltip class="has-tip" title="Maximum number of connection for PostgreSQL clients">what is this?</span>
                </span>
              </label>
              <input id="pgtConnectionsValue" type="number" placeholder="Number of Connections (optional)" min="1" max="999" step="1" pattern="[0-9]{1,3}" />
            </div>
          </div>
          <!-- end begin -->

          <div class="row">
            <div class="large-12 columns">
              <input type="submit" class="button expand" value="Generate" />
            </div>
          </div>

        </form>
      </div>

      <div class="large-6 columns" data-equalizer-watch>
        <p>PostgreSQL settings (add/modify this settings in <kbd>postgresql.conf</kbd> and restart database):</p>
        <div class="row">
          <div class="large-12 columns">
            <pre><code id="postgresConfigOut" class="language-ini">Set "Total Memory" size and
click "Generate" button</code></pre>
          </div>
        </div>
        <div id="oldPostgresBlock">
          <p><span class="success label label-for-kernel">NOTICE:</span> For PostgreSQL &lt; 9.4 you also should modify <a href="http://www.postgresql.org/docs/devel/static/kernel-resources.html" target="_blank">kernel resources</a> (add this in <kbd>/etc/sysctl.conf</kbd>):</p>
          <div class="row">
            <div class="large-12 columns">
              <pre><code id="postgresOldkernelOut" class="language-ini"></code></pre>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="small-6 large-4 columns">
        <p>&copy; Copyright <a href="https://twitter.com/leopard_me">Alexey Vasiliev aka leopard</a>.</p>
      </div>
      <div class="large-4 columns show-for-large-up">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style " style="padding: 0">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <!-- AddThis Button END -->
        <script type="text/javascript">var addthis_config = { "data_track_addressbar":true };</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-527012705413f0b7"></script>
        <!-- AddThis Button END -->
      </div>
      <div class="small-6 large-4 columns">
        <ul class="inline-list right">
          <li><a href="http://postgresql.leopard.in.ua">PostgreSQL book (Russian)</a></li>
          <li><a href="http://leopard.in.ua">My Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>