.total-memory {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.total-memory-label {
  flex: 0 0 60%;
  font-size: 1.1rem;
}

.total-memory-tooltip {
  flex: 0 0 40%;
  font-size: 0.8rem;
  text-align: right;
}

.total-memory-tooltip__link {
  border-bottom: 1px dotted #b58900;
  text-decoration: none;
  vertical-align: middle;
  margin-right: 4px;
}

.total-memory-amount {
  flex: 1;
  min-width: 0;
  margin-top: 4px;
  margin-right: 4px;
}

.total-memory-unit {
  flex: 0 0 20%;
  margin-top: 4px;
}

.total-memory-amount__input,
.total-memory-unit__select {
  width: 100%;
  font-size: 1.3rem;
  color: var(--inputColor);
  border-radius: 0;
  border: 1px solid var(--inputBorder);
  background-color: var(--inputBg);
  padding: 2px 1px;
  box-sizing: border-box;
}

.total-memory-unit__select {
  appearance: none;
}

.total-memory-amount__input::placeholder {
  color: var(--inputColorPlaceholder);
  font-size: 1.2rem;
}

.total-memory-amount__input:focus:not(:focus-visible),
.total-memory-unit__select:focus:not(:focus-visible) {
  outline: none;
}

.total-memory-amount__error {
  color: #dc322f;
  font-size: 0.8rem;
}
